@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/resets";
@import "./styles/masonry";
@import "./styles/utilities";
@import "./styles/slider";
@import "./styles/scrollbar";
@import "./styles/forms";

html {
  scroll-behavior: smooth;
}

// section title
.section-title {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-[20px] sm:text-2xl lg:text-3xl xxl:text-[32px];
  }

  p {
    @apply mt-2 md:mt-1;
  }
}

// hero section
.hero-text {
  line-height: 1.3 !important;
  @apply text-white;
}

// admin sidebar
.content-sidebar {
  &-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-dark/30;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
  }
}

.sidebar-change {
  @media screen and (max-width: 992px) {
    transform: translateX(0%);
  }
}

.header-light {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.country-options {
  @apply absolute top-full bg-white z-40 rounded-md border-[1px] border-blue-gray-100 h-[180px] overflow-y-scroll scrollbar;
}

.error-msg {
  @apply text-[13px] text-red-400 -mt-2;
}

.glass-effect {
  // backdrop-filter: blur(4px);
}

.scroll-popup {
  z-index: 10000 !important;
  animation-name: zoomInOut;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.animate-scale {
  animation-name: zoomInOut;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes zoomInOut {
  0% {
    scale: 1.05;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

.policy-content {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

// dropdown
.css-13cymwt-control {
  min-height: 44px;
  border: 1px solid #e0e0e0 !important;
  color: #e0e0e0 !important;
  font-size: 14px !important;
}
.css-1jqq78o-placeholder,
.css-w9q2zk-Input2,
.css-1dimb5e-singleValue {
  color: #a2a2a2 !important;
  font-size: 14px !important;
}
.css-1nmdiq5-menu {
  * {
    font-size: 14px !important;
  }
}

// react confirm alert
.react-confirm-alert {
  h1 {
    font-weight: 600;
    margin-bottom: 6px;
  }

  .react-confirm-alert-button-group {
    button {
      font-size: 14px;
      letter-spacing: 0.5px;

      &:first-child {
        background-color: #f44336;
      }
    }
  }
}

.country-options {
  overflow-y: scroll !important;
  height: 180px !important;

  & > div {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(149, 157, 165, 0.3);
    border-radius: 100vh;
  }
}

.Toastify,
.Toastify__toast-container--top-right {
  z-index: 10000 !important;
}

.Toastify__toast-body {
  color: #677489 !important;
  font-family: "Open Sans", sans-serif !important;
  svg {
    color: green !important;
  }
}

/* CSS for ImageViewModal */
.image-view-modal {
  @apply fixed left-0 top-0 w-full h-full;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;

  .modal-content {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    @apply relative mx-auto p-1 bg-white max-w-[700px] h-full text-center;
  }

  .close-button {
    @apply absolute top-3 shadow right-3 bg-dark w-[28px] h-[28px] text-white rounded-full cursor-pointer text-2xl flex items-center justify-center;
  }

  img {
    @apply w-full h-full object-cover;
    border-radius: 5px;
  }

  /* Add animation for modal appearance */
  &.show {
    display: block;
    animation: fadeIn 0.3s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// account tab head
.account-tab {
  nav {
    @apply flex justify-center;

    ul {
      @apply flex gap-x-6;
    }
  }

  .tab-head-item {
    @apply min-w-[140px];
  }
}
.account-tab-head {
  li {
    &:has(div.absolute) {
      @apply text-indigo;
    }
  }
}

// social media icons
.social-icon {
  scale: 0.8;
}

// profile modal dialog
.profile-modal-dialog {
  max-width: 600px !important;
  min-width: 1000px !important;

  @media (max-width: 1200px) {
    min-width: 800px !important;
  }

  @media (max-width: 992px) {
    min-width: 90vw !important;
  }
}

.upload-btn {
  background: linear-gradient(90deg, #ff007e 0%, #00bcd4 100%);
  @apply rounded-md border-none hover:shadow-lg shadow-md;
}

// custom tooltip
.tooltip-custom {
  @apply relative;
}
.tooltip-custom-container {
  @apply absolute bg-dark bottom-full mb-3 z-30 left-1/2 -translate-x-1/2 py-1 px-2 rounded-[4px] text-xs invisible opacity-0 default-transition group-hover:visible group-hover:opacity-100 font-medium capitalize shadow-md min-w-[48px] text-center;
}

.modal-open {
  overflow: hidden;
}

// top navbar
.top-navbar {
  @media (max-width: 1200px) {
    position: fixed;
    right: 0;
    top: 0;
    width: 280px;
    height: 100%;
    z-index: 10000;
    flex-direction: column;
    padding: 16px;
    @apply bg-moonstone default-transition;
    transform: translateX(100%);

    &.show {
      transform: translateX(0);
    }

    .header-search {
      min-width: 100% !important;
      width: 100% !important;
      padding-left: 10px;
      width: 100%;
      height: 40px;

      input {
        &::placeholder {
          font-size: 13px;
        }
      }
    }

    form {
      position: relative !important;
      top: auto !important;
      padding: 0 !important;
      width: 100%;

      button {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 20px;
        width: auto !important;
      }
    }

    .navbar-links {
      flex-direction: column;
      margin-top: 24px;

      .navbar-link,
      .navbar-link-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5) !important;
        padding-top: 16px;
        padding-bottom: 16px;

        button {
          height: auto !important;
        }

        &:last-child {
          border-bottom: 0 !important;
        }

        &.hidden{
          display: none!important;
        }
      }

      .header-search-btn {
        column-gap: 6px;
      }
    }
  }

  @media(max-width: 480px){
    width: 100%;
  }
}


.customized-select{
  & > div{
    min-width: 180px!important;
  }
  label{
    @apply text-indigo;
    display: none;
    &::after, &::before{
      display: none;
    }
  }
}